name: Playwright Tests with Allure

on:
  repository_dispatch:
    types: [run-playwright]
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout automation repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright Tests
        env:
          BASE_URL: ${{ github.event.client_payload.base_url }}
        id: pw
        run: npm run test
        continue-on-error: true

      - name: Install Allure CLI
        run: |
              sudo apt-get update
              sudo apt-get install -y allure

      - name: Generate Allure Report
        if: always()
        run: npm run allure:generate

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: Fail job if tests failed
        if: steps.pw.outcome == 'failure'
        run: exit 1